alias dum='du --max-depth=1 -h'
alias lynx='lynx -accept_all_cookies'
alias mv='mv -vi'
alias mc='TERM=xterm mc'
alias cp='cp -vi'
alias bsb='sudo bash ./*.SlackBuild'
alias doit='sudo /sbin/upgradepkg --install-new --reinstall'
alias pks='ls -lh /var/log/packages/ | grep $1'
alias screen='TERM=vt102 screen'
